.auth-modal{
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(42, 42, 42, 0.5);
  z-index: 9999;
  top: 0;
  left: 0
}

.auth-modal-content{
  width: 750px;
  height: 400px;
  background-color: var(--secondary-color);
  border-radius: var(--common-radius);
  color: var(--main-color)
}