.auth-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    background-color: white;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-container input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 5px;
}

.auth-container button {
    padding: 0.5rem 1rem;
    background-color: #AED886;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-box {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: black;
}