
.gp-container {
    display:flex;
    width: 100%;
    height: 100%
}

.gp-sidebar {
    width: 250px;
    height: 100%;
    padding: 1.5rem;
    background-color: var(--main-color);
    border-right: 1px solid #ddd;
    border-radius: var(--common-radius);
    box-sizing: border-box;
  }
  
  .gp-filters-title {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .gp-checkbox-label {
    display: block;
    margin-bottom: 0.75rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .gp-main {
    flex: 1;
    padding: 1.5rem;
    padding-top: 0px;
    overflow-y: auto;
  }

  .gp-main::-webkit-scrollbar {
    width: 15px;
}

.gp-main::-webkit-scrollbar-track {
    background: none;
}

.gp-main::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 50px;
    border: 3px solid #226d5f;
}  
  
  .gp-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .gp-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    padding-bottom: 2rem;
  }
  
  .gp-card {

    background: var(--main-color);
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }
  
  .gp-img {

    height: 180px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 0.75rem;

  }
  
  .gp-name {
    font-size: 1.1rem;
    margin: 0.5rem 0;
  }
  
  .gp-price {
    font-weight: bold;
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
  }
  
  .gp-btn {
    background-color: #0c2b26;

    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Josefin Sans';
  }

.gp-checkbox-label input[type="checkbox"] {
    accent-color: #0c2b26;
    cursor: pointer;
}

