.home-header {
    width: 100%;
}

.home-banner {
    width: 100%;
    height: auto;
    display: block;
    border-radius: var(--common-radius);
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.home-title {
    position: absolute;
    top: 25%;
    left: 5%;
    color: white;
    font-size: 3rem;
    text-align: left;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

.home-title-2 {
    top: 35%;
    font-size: 1.75rem;
    width: 50%;
    color: var(--secondary-color);
}

.home-top-nav {
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40%;
    max-width: 900px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    background: rgba(255, 255, 255, 0.5);
    padding: 0.5rem 1rem;
    border-radius: var(--common-radius);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.home-top-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.5rem;
}

.home-top-nav a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: bold;
    transition: 0.25s;
}


.home-top-nav a:hover {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}

.home-nav-tiles {
    display: flex;
    width: 100%;
    padding: 1rem 0;
    gap: 1rem;
    overflow-x: visible;
    box-sizing: border-box;
}

.home-tile {
    flex: 1;
    min-width: 160px;
    min-height: 160px;
    background: white;
    border-radius: var(--common-radius);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--main-color);
    transition: transform 0.25s ease-out;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.home-tile:hover {
    background-color: var(--tertiary-select-color);
    transform: scale(1.05);
    cursor: pointer;
}

.home-tile a {
    text-decoration: none;
    color: inherit;
}

.home-offset-tile {
    position: relative;
    right: -0.5%;
    background: var(--tertiary-color);
}