.cart-container {
    background: linear-gradient(0deg, var(--main-color), var(--main-hover));
    height: 100%;
    max-height: 100%;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    width: fit-content;
    min-width: fit-content;
    overflow: hidden;
    border-radius: var(--common-radius);
    text-shadow: 0 0 8px rgba(82, 82, 82, 0.5);
}

<<<<<<< HEAD
.cart-items{
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
  overscroll-behavior: none;
  padding-left: 10px;
  padding-top: 10px;
  width: fit-content;
  scrollbar-color: var(--main-color);
=======
.cart-items {
    overflow-y: scroll;
    height: 100%;
    display: flex;
    flex-direction: column;
    overscroll-behavior: none;
    gap: 12px;
    padding-left: 10px;
    padding-top: 10px;
    width: fit-content;
    scrollbar-color: var(--main-color);
>>>>>>> 0f714b6bbac6756dc6a29497a01d46949f90bf08
}

.cart-items::-webkit-scrollbar {
    width: 15px;
}

.cart-items::-webkit-scrollbar-track {
    background: none;
}

.cart-items::-webkit-scrollbar-thumb {
    background: #13483e;
    border-radius: 50px;
    border: 3px solid var(--main-color);
}